.main-header {
    position: fixed;
    width: 100%;
    // background-color: #e8e8e8;
    background-color: #ffffff;
    z-index: 12;
    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 5%);

    &__wrapper {
        box-sizing: border-box;
        max-width: 500px;
        margin: 0 auto;
        padding: 10px 20px;
    }

    &__wrapper-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        padding-bottom: 10px;
        border-bottom: 1px solid #000000;
    }

    &__logo {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
    }

    &__wrapper-button {
        display: flex;
        align-items: center;
    }

    &__button-buy {
        font-style: normal;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 18px;
        color: #ffffff;
        background-color: @bg-color-main;
        border-radius: 10px;
        padding: 10px 60px;
        font-weight: 700;
        letter-spacing: 1px;
        display: block;
        text-decoration: none;

        &:hover {
            background-color: #166fe5;
        }

        &:active {
            background-color: #29487d;
            transform: scale(0.95);
        }
    }

    &__button-nav {
        position: relative;
        border: none;
        width: 24px;
        height: 20px;
        background-color: transparent;
        margin-left: 20px;
        cursor: pointer;
    }

    &__button-nav::before {
        position: absolute;
        content: url("../img/icons/burger.svg");
        width: 24px;
        height: 20px;
        top: 0;
        left: 0;
    }

    &__button-nav--cross {
        position: relative;
        border: none;
        width: 24px;
        height: 20px;
        background-color: transparent;
        margin-left: 20px;
        cursor: pointer;
        padding: 0;
    }

    &__button-nav--cross::before,
    &__button-nav--cross::after {
        position: absolute;
        content: '';
        width: 24px;
        height: 2px;
        background-color: #000000;
    }

    &__button-nav--cross::before {
        rotate: -45deg;
        top: 8;
        left: 0;
    }

    &__button-nav--cross::after {
        rotate: 45deg;
        top: 8;
        right: 0;
    }

    &__button-nav-icon {
        display: block;
        width: 24px;
        height: 16px;
        background-image: url('/source/img/icons/burger.svg');
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
    }

    &__nav {
        &--open {
            position: absolute;
            display: flex;
            justify-content: center;
            width: 100%;
            min-height: 100vh;
            top: 68px;
            left: 0;
            background-color: rgba(0, 0, 0, 0.8);
        }

        &--close {
            display: none;
        }
    }

    &__list {
        width: 100%;
        max-width: 500px;
        margin-block-start: 0;
        margin-block-end: 0;
        margin: 0;
        padding: 0;
        list-style-type: none;
        position: absolute;
        background-color: #ffffff;
        padding-top: 10px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #000000;

        &-link {
            text-decoration: none;
            color: #000000;
        }

        &:hover {
            background-color: #ffffff;
        }

        &-text {
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            margin: 0;
            padding-top: 22px;
            padding-bottom: 24px;
            text-transform: uppercase;
        }
    }
}


@media (min-width: 768px) {
    .main-header {
        &__wrapper {
            max-width: 1200px;
            box-sizing: border-box;
            padding: 20px 30px;
        }

        &__wrapper-logo {
            padding-bottom: 15px;
            border-bottom: 1px solid #000000;
        }

        &__logo {
            font-size: 24px;
            line-height: 28px;
        }

        &__button-buy {
            font-size: 18px;
            line-height: 24px;
        }

        &__button-nav {
            display: none;
        }

        &__nav {
            display: block;

            &--tablet {
                &-down {
                    display: none;
                }
            }
        }

        &__list {
            max-width: 1200px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #000000;
            position: relative;
        }

        &__item {
            width: 160px;
            border: none;
        }
    }
}

@media (min-width: 1200px) {
    .main-header {
        &__wrapper {
            position: relative;
            max-width: 1440px;
            padding: 15px 110px;
        }

        &__wrapper-logo {
            min-height: 67px;
            border: none;
            padding-bottom: 0;
        }

        &__nav {
            display: block;
            position: absolute;
            top: 15px;
            right: 26%;
        }

        &__list {
            border: none;
            padding-top: 0;
        }

        &__item {
            width: 125px;
            min-height: 66px;
            margin-right: 10px;
            border-bottom: 1px solid #000000;

            &-text {
                font-size: 18px;
                line-height: 18px;
            }
        }

        &__item:last-child {
            margin-right: 0;
        }
    }
}