.main-header {
    width: 100%;
    background-color: #e8e8e8;

    &__wrapper {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 10px 20px;
    }

    &__wrapper-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        padding-bottom: 10px;
        border-bottom: 1px solid #000000;
    }

    &__logo {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
    }

    &__wrapper-button {
        display: flex;
        align-items: center;
    }

    &__button-buy {
        font-family: @second-font;
        font-style: normal;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #ffffff;
        background-color: @bg-color-main;
        border: none;
        padding: 10px 60px;
    }

    &__button-nav {
        position: relative;
        border: none;
        width: 24px;
        height: 20px;
        background-color: transparent;
        margin-left: 20px;
    }

    &__button-nav::before {
        position: absolute;
        content: url("../../img/icons/burger.svg");
        width: 24px;
        height: 20px;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    &__button-nav-icon {
        display: block;
        width: 24px;
        height: 16px;
        background-image: url('/source/img/icons/burger.svg');
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
    }   

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item:hover {
        background-color: #ffffff;
    }

    &__item-text {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        margin: 0;
        padding-top: 22px;
        padding-bottom: 24px;
        text-transform: uppercase;
    }

}


@media (min-width: 768px) {
    .main-header {
        &__wrapper {
            width: 768px;
            padding: 20px 30px;
        }

    }
}

@media (min-width: 1200px) {}