.main-footer {
    width: 100%;
    flex-shrink: 0;
    background-color: @bg-color-main;

    &__wrapper {
        box-sizing: border-box;
        margin: 0 auto;
        color: #ffffff;
        padding: 20px;
    }


}

@media (min-width: 768px) {
    .main-footer {
        &__wrapper {
            width: 768px;
            padding: 20px 30px;
        }

    }
}

@media (min-width: 1200px) {
    .main-footer {
        &__wrapper {
            width: 1200px;
            padding: 40px 110px;
        }
    }
}