.offer {
    background-color: #e8e8e8;

    &__bg-image {
        display: block;
        width: 100%;
        height: auto;
    }

    &__wrapper {
        padding: 0 20px;
        padding-top: 60px;
        padding-bottom: 40px;
        margin: 0 auto;
    }

    &__title {
        margin: 0;
        font-family: @second-font;
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 44px;
        margin-bottom: 25px;
    }

    &__description {
        margin: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
    }

    // &__img {

    // }

    &__button {
        color: @color-main;
        // background-color: @bg-color-second;
        background-color: transparent;
        border: 1px solid #cccccc;
        padding: 10px 55px;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        margin-top: 30px;
    }
}

@media (min-width: 768px) {
    .offer {
        &__wrapper {
            width: 768px;
            padding: 20px 30px;
        }

    }
}

@media (min-width: 1200px) {}