.product {
    padding-top: 40px;
    padding-bottom: 40px;

    &__wrapper {
        box-sizing: border-box;
        max-width: 500px;
        margin: 0 auto;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__title {
        position: relative;
        margin: 0;
        text-align: center;
        font-family: 'Oswald';
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 100px;
        z-index: 2;

        &::before {
            position: absolute;
            content: '';
            width: 160px;
            height: 160px;
            border-radius: 50%;
            top: calc(50% - 80px);
            left: calc(50% - 82px);
            background-color: #e8e8e8;
            z-index: -1;
        }

        &::after {
            position: absolute;
            content: '';
            width: 80%;
            height: 3px;
            background-color: #e8e8e8;
            left: 9%;
            bottom: 18px;
            z-index: -1;
        }
    }

    &__text {
        margin: 0;
        text-align: center;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 24px;
        font-style: italic;

        &-date {
            font-size: 20px;
            margin: 0;
            line-height: 24px;
            text-align: center;
            color: red;
        }
    }

    &__list {
        display: none;
    }

    &__img {
        display: block;
        width: 360px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .product {
        padding-top: 0;

        &__wrapper {
            max-width: 708px;
            padding: 40px 0;
            border: none;

            &--second {
                display: grid;
                grid-template-columns: 360px 1fr;
                padding: 80px 10px;
            }
        }

        &__title {
            display: flex;
            align-self: center;
            justify-content: center;
            padding: 10px;
            border-radius: 5px;
            background-color: @bg-color-fourth;
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 30px;

            &::before {
                background-color: @bg-color-fourth;
            }

            &::after {
                display: none;
            }
        }

        &__text {
            display: flex;
            align-self: center;
            justify-content: center;
            padding: 20px 10px;
            border-radius: 5px;
            background-color: @bg-color-fourth;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 30px;
        }

        &__img {
            width: 360px;
            grid-column: 1 / 2;
            grid-row: 1 / 4;
            margin-bottom: 0;
        }
    }
}

@media (min-width: 1200px) {
    .product {
        padding: 0;

        &__wrapper {
            max-width: 1440px;
            padding: 100px 110px;

            &--second {
                grid-template-columns: 500px 1fr;
                background: linear-gradient(to bottom right, white 30%, @bg-color-fourth);
                border-radius: 10px;
                padding: 80px 20px;
            }
        }

        &__img {
            width: 400px;
            height: auto;
        }

        &__title {
            padding: 10px 15px;
            margin: 0;
            background-color: transparent;
            color: red;
            background-color: #fff;

            &::before {
                display: none;
            }

            &-wrapper {
                grid-row: 4 / 5;
                margin-top: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &__text {
            padding: 0;
            margin: 0;
            background-color: transparent;
            font-size: 40px;
            line-height: normal;
            font-weight: 700;
            margin-bottom: 30px;

            &-date {
                font-size: 26px;
                line-height: normal;

                &-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        &__list {
            padding: 0;
            margin: 0;
            list-style-type: none;
            grid-row: 2 / 4;
        }

        &__item {
            display: flex;
            align-items: center;
            font-size: 30px;
            line-height: normal;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            &-number {
                position: relative;
                font-size: 40px;
                line-height: normal;
                margin-right: 30px;
                padding: 10px;
                padding-left: 13px;
                z-index: 1;

                &::before {
                    position: absolute;
                    content: '';
                    width: 70px;
                    height: 70px;
                    top: -3px;
                    left: -7px;
                    background-color: #fff;
                    border-radius: 50%;
                    z-index: -1;
                }
            }
        }
    }

    //         &--second {
    //             border: none;
    //             padding: 0;
    //             width: 400px;
    //             height: 400px;
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //         }
    //     }

    //     &__link {
    //         display: block;
    //         background-image: url("../img/content-photo/bg-image-4.jpg");
    //         background-position: center;
    //         background-repeat: no-repeat;

    //         &:hover {
    //             background-image: none;
    //         }

    //         &:hover .product__wrapper--second {
    //             background: linear-gradient(to bottom right, white 30%, @bg-color-fourth);
    //         }

    //         &:hover .product__img {
    //             display: block;
    //         }
    //     }


    //     &__img {
    //         display: none;
    //         width: 360px;
    //         height: 360px;
    //     }

    //     &__title {
    //         display: none;
    //     }

    //     &__text {
    //         display: none;

    //         &-date {
    //             display: none;
    //         }
    //     }
    // }
}