// Слайдер
.image-slider .swiper {

    &-button-prev,
    &-button-next {
        --swiper-navigation-size: 30px;
    }

    &__slide {
        padding: 10px 30px;
        box-sizing: border-box;

    }

    &__wrapper-item {
        width: 100%;
    }
}

.swiper-slide {
    padding: 10px 30px;
    padding-bottom: 40px;
    box-sizing: border-box;
}

.image-slider {
    &__wrapper-item {
        display: flex;
    }

    &__column-left {
        width: 40%;
    }

    &__column-right {
        width: 60%;
    }

    &__title {
        margin: 0;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 20px;
    }

    &__text {
        margin: 0;
    }
}