// Слайдер
.image-slider .swiper {
    &-button-prev,
    &-button-next {
        --swiper-navigation-size: 30px;
    }

    // &-wrapper {
    //     // padding: 10px 30px;
    //     // box-sizing: border-box;
    // }

    &__slide {
        padding: 10px 30px;
        box-sizing: border-box;

    }

    &__wrapper-item {
        width: 100%;
    }
}