.social {
    &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 0;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 30px;

        &-icon {
            color: #fff;

        }
    }

}



// .social-item__icon {
//     color: #fff;
// }

.social__link {
    margin-left: 5px;
}


@media (min-width: 768px) {
    .social__list {
        justify-content: space-around;
        padding: 20px 0;
    }
}

@media (min-width: 1200px) {
    .social__list {
        padding: 30px 0;
    }
}