.use {
    &__wrapper {
        box-sizing: border-box;
        max-width: 500px;
        margin: 0 auto;
        padding: 0 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid black;
        padding-top: 80px;
    }

    &__title {
        margin: 0;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 20px;

        &--second {
            color: @color-second;
        }
    }

    &__text {
        margin: 0;
        margin-bottom: 15px;
    }

    &__img {
        display: block;
        width: 100%;

        &--second {
            display: none;
        }
    }

    &__button {
        color: #ffffff;
        background-color: @bg-color-main;
        border: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        margin-top: 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
        height: 40px;

        &-text {
            margin: 0;
        }

        &:hover {
            color: #ffffff;
            background-color: black;
        }

        &:active {
            background-color: #ffffff;
            color: black;
            outline: 1px solid black;
        }
    }
}

@media (min-width: 768px) {
    .use {
        &__wrapper {
            max-width: 1200px;
            padding: 80px 30px;
            padding-top: 187px;
        }

        &__title {
            font-size: 48px;
            line-height: 48px;
        }

        &__text {
            font-size: 24px;
            line-height: 28px;   
        }

        &__img {
            &--first {
                display: none;
            }

            &--second {
                width: 100%;
                display: block;
            }
        }

        &__button {
            font-size: 18px;
            line-height: 24px;
            width: 200px;
            height: 50px;
        }
    }
}

@media (min-width: 1200px) {
    .use {
        &__wrapper {
            max-width: 1440px;
            padding: 100px 110px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
        }

        &__title {
            margin-bottom: 30px;
            grid-column: 2 / 3;
        }

        &__text {
            margin-bottom: 20px;
            line-height: 32px;
            grid-column: 2 / 3;

            &--second {
                margin-bottom: 0;
                color: @color-second;
            }
        }

        &__wrapper-img {
            display: flex;
            grid-row: 1 / 6;
        }

        &__img {
            &--first {
                display: block;
            }

            &--second {
                display: none;
            }
        }

        &__button {
            grid-column: 2 / 3;
            margin-top: 0;
            width: 220px;
            height: 55px;
            margin-top: 40px;

            &-text {
                margin: 0;
            }
        }
    }
}
